    h4 {
        margin-top: 5px;
        margin-bottom: 5px;
        color: red;
    }
    
    header {
        text-align: left;
        margin: 5px;
    }
    
    body {
        background-color: grey;
    }
    
    main {
        margin: 60px;
    }
    
    .eotw {
        border: 3px solid red;
    }
    
    h3 {
        margin-bottom: 3px;
    }
    
    h6 {
        margin-top: 3px;
    }
    
    .thegh {
        border: 3px solid red;
    }
    
    footer {
        background-color: red;
    }